<h1>Catalog App</h1>
<br>
{% if 'username' not in session %}

    
        <li><a href="{{ url_for('showLogin') }}">Login</a>
        
        {% else %}
        <li><a href="{{ url_for('gdisconnect') }}">Logout</a>
<br><br>
<a href="{{ url_for('addItem') }}">Add Item</a>
        {% endif %}
<br>

<h2>Categories</h2>

<br>
{%for c in categories%}
<a href = '{{url_for('showCategory',category_id=c.id)}}'><p>{{c.name}}</p></a>
{%endfor%}
<br><br>
<h3>Latest items added</h3>
<br>
{%for l in latest%}
<a href = '{{url_for('showItem',category_id=l.id,item_id=l.id)}}'><p>{{l.name}}</p></a>
{%endfor%}
